<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dm.task.sqldao.CmsNovelAttachMapper">
	<resultMap id="BaseResultMap" type="com.dm.task.model.CmsNovelAttach">
		<result column="novel_id" property="novelId" jdbcType="INTEGER" />
		<result column="attachment_id" property="attachmentId"
			jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		novel_id,attachment_id
	</sql>
	<insert id="insert" parameterType="com.dm.task.model.CmsNovelAttach">
		insert into cms_novel_attach (novel_id, attachment_id)
		values (#{novelId,jdbcType=INTEGER}, #{attachmentId,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.dm.task.model.CmsNovelAttach">
		insert into cms_novel_attach
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="novelId != null">
				novel_id,
			</if>
			<if test="attachmentId != null">
				attachment_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="novelId != null">
				#{novelId,jdbcType=INTEGER},
			</if>
			<if test="attachmentId != null">
				#{attachmentId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="selectAttaList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cms_novel_attach
		where novel_id = #{id}
	</select>
	<delete id="deleteAttaByContentId">
		delete from cms_novel_attach where novel_id = #{id}
	</delete>
</mapper>