<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dm.task.sqldao.UserAccountMapper" >
  <resultMap id="BaseResultMap" type="com.dm.task.model.UserAccount" >
    <id column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="ENABLED" property="enabled" jdbcType="BIT" />
    <result column="HEADPIC" property="headpic" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="SEQ" property="seq" jdbcType="BIGINT" />
    <result column="headphoto_id" property="headphotoId" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="BIGINT" />
    <result column="LOGINNAME" property="loginname" jdbcType="VARCHAR" />
    <result column="LASTLOGINTIME" property="lastlogintime" jdbcType="VARCHAR" />
    <result column="LOGINCOUNT" property="logincount" jdbcType="INTEGER" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="REMOTEIPADDR" property="remoteipaddr" jdbcType="VARCHAR" />
    <result column="ACCOUNT_EXPIRED" property="accountExpired" jdbcType="BIT" />
    <result column="NONLOCKED" property="nonlocked" jdbcType="BIT" />
    <result column="PASSWORD_EXPIRED" property="passwordExpired" jdbcType="BIT" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, EMAIL, ENABLED, HEADPIC, NAME, PASSWORD, SEQ, headphoto_id, org_id, LOGINNAME, 
    LASTLOGINTIME, LOGINCOUNT, MOBILE, REMOTEIPADDR, ACCOUNT_EXPIRED, NONLOCKED, PASSWORD_EXPIRED, 
    CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_user_account
    where CODE = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_user_account
    where CODE = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dm.task.model.UserAccount" >
    insert into t_user_account (CODE, EMAIL, ENABLED, 
      HEADPIC, NAME, PASSWORD, 
      SEQ, headphoto_id, org_id, 
      LOGINNAME, LASTLOGINTIME, LOGINCOUNT, 
      MOBILE, REMOTEIPADDR, ACCOUNT_EXPIRED, 
      NONLOCKED, PASSWORD_EXPIRED, CREATE_TIME, 
      UPDATE_TIME)
    values (#{code,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{enabled,jdbcType=BIT}, 
      #{headpic,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{seq,jdbcType=BIGINT}, #{headphotoId,jdbcType=VARCHAR}, #{orgId,jdbcType=BIGINT}, 
      #{loginname,jdbcType=VARCHAR}, #{lastlogintime,jdbcType=VARCHAR}, #{logincount,jdbcType=INTEGER}, 
      #{mobile,jdbcType=VARCHAR}, #{remoteipaddr,jdbcType=VARCHAR}, #{accountExpired,jdbcType=BIT}, 
      #{nonlocked,jdbcType=BIT}, #{passwordExpired,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dm.task.model.UserAccount" >
    insert into t_user_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        CODE,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="enabled != null" >
        ENABLED,
      </if>
      <if test="headpic != null" >
        HEADPIC,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="seq != null" >
        SEQ,
      </if>
      <if test="headphotoId != null" >
        headphoto_id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="loginname != null" >
        LOGINNAME,
      </if>
      <if test="lastlogintime != null" >
        LASTLOGINTIME,
      </if>
      <if test="logincount != null" >
        LOGINCOUNT,
      </if>
      <if test="mobile != null" >
        MOBILE,
      </if>
      <if test="remoteipaddr != null" >
        REMOTEIPADDR,
      </if>
      <if test="accountExpired != null" >
        ACCOUNT_EXPIRED,
      </if>
      <if test="nonlocked != null" >
        NONLOCKED,
      </if>
      <if test="passwordExpired != null" >
        PASSWORD_EXPIRED,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=BIT},
      </if>
      <if test="headpic != null" >
        #{headpic,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=BIGINT},
      </if>
      <if test="headphotoId != null" >
        #{headphotoId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="loginname != null" >
        #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="lastlogintime != null" >
        #{lastlogintime,jdbcType=VARCHAR},
      </if>
      <if test="logincount != null" >
        #{logincount,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="remoteipaddr != null" >
        #{remoteipaddr,jdbcType=VARCHAR},
      </if>
      <if test="accountExpired != null" >
        #{accountExpired,jdbcType=BIT},
      </if>
      <if test="nonlocked != null" >
        #{nonlocked,jdbcType=BIT},
      </if>
      <if test="passwordExpired != null" >
        #{passwordExpired,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dm.task.model.UserAccount" >
    update t_user_account
    <set >
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        ENABLED = #{enabled,jdbcType=BIT},
      </if>
      <if test="headpic != null" >
        HEADPIC = #{headpic,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        SEQ = #{seq,jdbcType=BIGINT},
      </if>
      <if test="headphotoId != null" >
        headphoto_id = #{headphotoId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="loginname != null" >
        LOGINNAME = #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="lastlogintime != null" >
        LASTLOGINTIME = #{lastlogintime,jdbcType=VARCHAR},
      </if>
      <if test="logincount != null" >
        LOGINCOUNT = #{logincount,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="remoteipaddr != null" >
        REMOTEIPADDR = #{remoteipaddr,jdbcType=VARCHAR},
      </if>
      <if test="accountExpired != null" >
        ACCOUNT_EXPIRED = #{accountExpired,jdbcType=BIT},
      </if>
      <if test="nonlocked != null" >
        NONLOCKED = #{nonlocked,jdbcType=BIT},
      </if>
      <if test="passwordExpired != null" >
        PASSWORD_EXPIRED = #{passwordExpired,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dm.task.model.UserAccount" >
    update t_user_account
    set EMAIL = #{email,jdbcType=VARCHAR},
      ENABLED = #{enabled,jdbcType=BIT},
      HEADPIC = #{headpic,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      SEQ = #{seq,jdbcType=BIGINT},
      headphoto_id = #{headphotoId,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=BIGINT},
      LOGINNAME = #{loginname,jdbcType=VARCHAR},
      LASTLOGINTIME = #{lastlogintime,jdbcType=VARCHAR},
      LOGINCOUNT = #{logincount,jdbcType=INTEGER},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      REMOTEIPADDR = #{remoteipaddr,jdbcType=VARCHAR},
      ACCOUNT_EXPIRED = #{accountExpired,jdbcType=BIT},
      NONLOCKED = #{nonlocked,jdbcType=BIT},
      PASSWORD_EXPIRED = #{passwordExpired,jdbcType=BIT},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  <select id="selectAddData" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_account
    where create_time &gt;= #{createTime,jdbcType=TIMESTAMP}
    and create_time
		&lt;
		date_sub(#{createTime,jdbcType=TIMESTAMP},interval -1 day)
  </select>
  <select id="selectUpdateData" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_user_account
    where create_time &lt; #{createTime,jdbcType=TIMESTAMP} and update_time &gt;= #{updateTime,jdbcType=TIMESTAMP}
  </select>
</mapper>